# Vim swap files
.*.swp

# Vim backup files
*~
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
example/tcip4_emulator
example/ignitech_example
example/ignitech_example_dyn


# Autotools/libtool/gnumake Stuff
Makefile
#Makefile.in
#compile
#config.guess
#config.sub
#depcomp
#install-sh
#configure
config.log
config.status
stamp-h1
#missing
.deps
.libs
#aclocal.m4
autom4te.cache
config.h
#config.h.in
#config.h.in~
#ltmain.sh
libtool
*/.dirstamp

#example/Makefile
#example/Makefile.in
#example/.deps
#example/.dirstamp
#example/.libs
#example/*.o


# extra
example/virtual-tty

# Check stuff
test-suite.log
check/rpm
check/sensormv
check/sensor_type
check/*.log
check/*.trs
